body {
  margin: 0px;
}
.contents-wrapper {
  max-width: 900px;
  margin: auto;
}
ul {
  padding-inline-start: 0px;
  margin-block-start: 0;
  margin-block-end: 0;
  padding-inline-start: 0;
}
/* 로그인섹션 */
.login-section {
  display: flex;
  background-color: black;
  height: 2rem;
  color: white;
  justify-content: space-between;
  align-items: center;
  padding: 0 2rem;
  font-size: 0.5rem;
}
.login-section .login-section-id {
  padding-bottom: 0.2rem;
}
.login-section .login-section-mypage {
  display: flex;
  width: 8rem;
  text-align: center;
}
.login-section .login-section-mypage > div {
  width: 33%;
  border-right: 1.5px solid gray;
  padding-bottom: 0.2rem;
}
.login-section .login-section-mypage > div:last-child {
  border-right: none;
}

/* 메뉴섹션 */
.hidden-menu {
  display: none;
}
.hidden-wrapper {
  display: none;
}
.menu-section {
  height: 8rem;
  display: flex;
  position: sticky;
  top: 0;
  justify-content: space-between;
  align-items: center;
  padding: 0 1rem;
  z-index: 1;
  background-color: white;
}
.menu-section .menu-list {
  width: 70%;
  height: 100%;
}
.menu-section .menu-list > ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 0.9rem;
  color: slategray;
  margin-block-start: 0rem;
  margin-block-end: 0rem;
  height: 100%;
}
.menu-section .menu-list > ul > li {
  list-style: none;
  display: flex;
  align-items: center;
  height: 100%;
}
.menu-section .menu-list .menu-list-pages li ul li:hover,
.menu-section .menu-list .menu-list-products li ul li:hover,
.menu-section .menu-list .menu-list-blog > li:hover,
.menu-section .menu-list .menu-list-blog > li ul li:hover,
.menu-section .menu-list .menu-list-home li:hover,
.menu-section .menu-list .menu-list-elements li ul li:hover,
.menu-section .menu-list > ul > li:hover {
  color: orange;
  text-decoration: underline;
  cursor: pointer;
}
.menu-section .menu-list .menu-list-blog > li:hover ul {
  /* display: block;
  color: unset;
  text-decoration: none; */
}
.menu-section .menu-list > ul > li:hover .menu-list-blog li:hover ul,
.menu-section .menu-list > ul > li:hover .menu-list-blog,
.menu-section .menu-list > ul > li:hover .menu-list-home {
  display: block;
}
.menu-section .menu-list > ul > li:hover .menu-list-pages,
.menu-section .menu-list > ul > li:hover .menu-list-products,
.menu-section .menu-list > ul > li:hover .menu-list-elements {
  display: flex;
}

.menu-section .menu-list .menu-list-blog ul,
.menu-section .menu-list .menu-list-blog,
.menu-section .menu-list .menu-list-home {
  display: none;
  background-color: white;
  list-style: none;
  position: absolute;
  padding: 0.5rem 2rem;
  top: 100%;
  box-shadow: 0px 2px 0.2rem gray;
  color: gray;
}
.menu-section .menu-list .menu-list-blog {
  display: none;
  left: 50%;
}
.menu-section .menu-list .menu-list-blog ul {
  left: 80%;
  width: 80%;
  top: 0;
}
.menu-section .menu-list .menu-list-blog li ul li,
.menu-section .menu-list > ul > li > ul > li {
  padding: 0.5rem 0;
}
.menu-section .menu-list .menu-list-pages,
.menu-section .menu-list .menu-list-products,
.menu-section .menu-list .menu-list-elements {
  display: none;
  left: 10%;
  background-color: white;
  list-style: none;
  position: absolute;
  padding: 0.5rem 2rem;
  top: 100%;
  box-shadow: 0px 2px 0.2rem gray;
  color: gray;
}
.menu-section .menu-list .menu-list-pages {
  left: 30%;
}
.menu-section .menu-list .menu-list-pages li,
.menu-section .menu-list .menu-list-products li,
.menu-section .menu-list .menu-list-elements li {
  padding: 0.5rem 0;
}
.menu-section .menu-list .menu-list-pages li ul,
.menu-section .menu-list .menu-list-products li ul,
.menu-section .menu-list .menu-list-elements li ul {
  list-style: none;
  padding: 0 1rem;
  width: 100%;
}
.menu-section .menu-list .menu-list-pages li ul span,
.menu-section .menu-list .menu-list-products li ul span,
.menu-section .menu-list .menu-list-elements li ul span {
  display: block;
  padding: 1rem 0;
  font-weight: 600;
}
.menu-section .menu-list .menu-list-elements li ul li:hover {
  /* display: flex; */
}
.menu-section .menu-list .menu-list-products .products-img {
  display: flex;
  align-items: center;
}
.menu-section .etc {
  display: flex;
  width: 10%;
  height: 100%;
  align-items: center;
  position: relative;
}
.menu-section .etc > div {
  width: 50%;
  border-right: 1.5px solid gray;
}
.menu-section .etc .search-wrapper {
  text-align: center;
}
.menu-section .etc > div span {
  margin: auto;
}
.menu-section .etc .cart-wrapper {
  position: relative;
  cursor: pointer;
  display: flex;
  align-items: center;
  height: 100%;
}
.menu-section .etc .cart-wrapper:hover ul {
  display: block;
  text-align: center;
}
.menu-section .etc .cart-wrapper ul {
  display: none;
  position: absolute;
  top: 80%;
  right: -30%;
  width: 20rem;
  background-color: white;
  box-shadow: 0px 0px 1rem lightgray;
  z-index: 1;
  list-style: none;
  text-align: center;
}
.menu-section .etc .cart-wrapper ul li {
  padding: 0.7rem 0;
  border-bottom: 1px solid lightgray;
}
.menu-section .etc .cart-wrapper ul li:last-child {
  border-bottom: none;
}
.menu-section .etc .cart-wrapper .cart-list-wrapper .cart-list {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.menu-section .etc .cart-wrapper .cart-list-wrapper .cart-list .cart-img {
  width: 30%;
}
.menu-section .etc .cart-wrapper .cart-list-wrapper .cart-list .cart-img img {
  width: 100%;
}
.menu-section .etc .cart-wrapper .cart-list-wrapper .cart-info-wrapper {
  font-size: 0.8rem;
  text-align: left;
  color: #adadad;
}
.menu-section .etc .cart-wrapper .cart-list-wrapper .cart-info-wrapper span {
  color: black;
  font-weight: 900;
}
.menu-section .etc .cart-wrapper .cart-total {
  font-weight: 600;
}
.menu-section .etc .cart-wrapper .cart-total span {
  color: orange;
}

.menu-section .etc > div:last-child {
  border-right: none;
}

.menu-section .etc .cart-wrapper:hover ul {
  display: block;
  text-align: center;
  position: absolute;
  width: 17rem;
  right: 73%;
}
.menu-section .etc .search-wrapper input {
  border: none;
  display: inline-block;
  width: 80%;
}
.menu-section .etc .search-wrapper input::placeholder {
  border: none;
  text-align: start;
  color: rgb(184, 184, 184);
}
.menu-section .etc .search-wrapper input {
  display: none;
}
.menu-section .etc .search-wrapper:hover input {
  /* display: block; */
}
/* 탑섹션 */
.top-section {
  height: 14rem;
  position: relative;
}
.top-section::before {
  content: "";
  background-image: url(/img/back1.jpg);
  background-size: 100% 100%;
  position: absolute;
  opacity: 0.5;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
}
.top-section .top-section-name {
  font-size: 2rem;
  padding-top: 5rem;
  position: absolute;
  transform: translateX(-50%);
  left: 50%;
  font-weight: 900;
}
.top-section .top-menu-wrapper {
  position: absolute;
  bottom: 0%;
  width: 90%;
  transform: translateX(-50%);
  left: 50%;
  font-size: 1rem;
  font-weight: 900;
}
.top-section .top-menu-wrapper ul {
  list-style: none;
  display: flex;
  padding: 0;
  justify-content: space-between;
  width: 17%;
}
.top-section .top-menu-wrapper ul > li > a {
  text-decoration: none;
  color: black;
}

.content-section {
  margin: 3rem 0 0;
}
.intro-section .intro-top h1 {
  margin-bottom: 0;
}
.intro-section .intro-middle {
  margin-top: 4rem;
}
.intro-section .intro-middle .intro-middle-wrapper {
  display: flex;
  align-items: center;
}
.intro-section .intro-middle .intro-middle-wrapper .intro-middle-pic img {
  border: 1rem solid rgba(0, 0, 0, 4%);
}
.intro-section .intro-middle-wrapper .intro-middle-text {
  padding: 0 2rem;
  color: gray;
  min-width: 20rem;
  font-size: 0.8rem;
}

/* 멤버섹션 */
.member-section {
  margin: 5rem 0;
}
.member-section .member-top h1 {
  margin-bottom: 0;
}
.member-section .member-list-wrapper {
  margin-top: 3rem;
  display: flex;
  text-align: center;
  justify-content: space-between;
}
.member-section .member-list-wrapper .member-list {
  box-shadow: 1px 1px 4px #eee;
  border: 1px solid #eee;
  width: 23%;
  padding-bottom: 1rem;
}
.member-section .member-list-wrapper .member-list p {
  color: gray;
}
.member-section .member-list-wrapper .member-list .member-photo {
  /* border: 2px solid white;
  border-radius: 5rem; */
  background: linear-gradient(160deg, #43382e 50%, white 50%);
}
.member-section .member-list-wrapper .member-list .member-photo:hover {
  /* border: 2px solid white;
  border-radius: 5rem; */
  background: linear-gradient(160deg, orange 50%, white 50%);
  transition: all 1s ease;
}
.member-section .member-list-wrapper .member-list .member-photo {
  padding: 1rem;
}
.member-section .member-list-wrapper .member-list .member-intro {
  width: 80%;
  text-align: center;
  margin: 0.5rem auto 1rem;
  font-size: 0.9rem;
}

.member-section .member-list-wrapper .member-list .member-info h3 {
  margin: 0;
  font-weight: 500;
}
.member-section .member-list-wrapper .member-list .member-info h4 {
  margin: 0.5rem 0 0;
  color: gray;
  font-weight: 400;
}
.member-section .member-list-wrapper .member-list .member-sns ul {
  display: inline-flex;
  width: 100%;
  padding: 0;
  justify-content: space-evenly;
}
.member-section .member-list-wrapper .member-list .member-sns ul li {
  list-style: none;
}
.member-section .member-list-wrapper .member-list .member-sns img {
  width: 2rem;
  height: 2rem;
  border: 1px solid lightgray;
  border-radius: 2rem;
}

/* 푸터섹션 */
.footer-section {
  background-color: #eee;
  padding: 4rem 2rem;
}
.footer-section .footer {
  display: flex;
  justify-content: space-between;
}

.footer-section .footer .company-intro {
  width: 30%;
}
.footer-section .footer .company-intro .company-intro-text {
  margin: 2rem 0;
  color: rgb(179, 175, 175);
  font-size: 0.8rem;
}
.footer-section .footer .company-intro .company-sns ul {
  display: flex;
  list-style: none;
  justify-content: space-between;
  padding-inline-start: 0px;
  width: 60%;
}
.footer-section .company-sns img {
  width: 2rem;
  height: 2rem;
  border: 1px solid lightgray;
  border-radius: 2rem;
}
.footer-section .footer .information-section {
  display: flex;
  width: 66%;
}
.footer-section .footer .information-section .my-account-list-wrapper,
.footer-section .footer .information-section .shipping-list-wrapper {
  width: 70%;
}

.footer-section
  .footer
  .information-section
  .my-account-list-wrapper
  .my-account-list
  ul,
.footer-section
  .footer
  .information-section
  .shipping-list-wrapper
  .shipping-list
  ul {
  padding-inline-start: 1rem;
  color: gray;
  font-size: 0.8rem;
  margin-top: 2rem;
}
.footer-section
  .footer
  .information-section
  .my-account-list-wrapper
  .my-account-list
  ul
  li,
.footer-section
  .footer
  .information-section
  .shipping-list-wrapper
  .shipping-list
  ul
  li {
  padding: 0.4rem 0;
}
.footer-section .footer .information-section .message-wrapper,
.footer-section .footer .information-section .my-account-list-wrapper,
.footer-section .footer .information-section .shipping-list-wrapper {
  font-weight: 900;
}
.footer-section .footer .information-section .message-wrapper span,
.footer-section .footer .information-section .my-account-list-wrapper span,
.footer-section .footer .information-section .shipping-list-wrapper span {
  color: orangered;
}
.footer-section .footer .information-section .message-wrapper .message {
  margin-top: 1.5rem;
}
.footer-section .footer .information-section .message-wrapper .message .text,
.footer-section .footer .information-section .message-wrapper .message .email,
.footer-section .footer .information-section .message-wrapper .message .name {
  border: none;
  padding: 0.6rem 1.3rem;
  margin-top: 0.7rem;
  width: 80%;
}
.footer-section
  .footer
  .information-section
  .message-wrapper
  .message
  textarea {
  height: 4rem;
}
.footer-section
  .footer
  .information-section
  .message-wrapper
  .message
  textarea::placeholder,
.footer-section
  .footer
  .information-section
  .message-wrapper
  .message
  input::placeholder {
  color: gray;
  font-family: "Courier New", Courier, monospace;
}
.footer-section .footer .information-section .message-wrapper .message .submit {
  width: 50%;
  border: none;
  background: orange;
  height: 2.5rem;
  color: white;
  font-weight: 700;
  margin-top: 1.5rem;
}

.bottom-section {
  background-color: #221c15;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 2rem;
}
.bottom-section .bottom-wrapper {
  display: flex;
  color: white;
  align-items: center;
  justify-content: space-between;
  width: 60%;
  font-size: 0.8rem;
}
.bottom-section .bottom-wrapper .bottom-left {
  width: 60%;
}
.bottom-section .bottom-wrapper .bottom-right {
  width: 40%;
}
.bottom-section .bottom-wrapper .bottom-left span:nth-child(1) {
  font-size: 0.6rem;
}
.bottom-section .bottom-wrapper .bottom-left span:nth-child(2) {
  font-weight: 800;
}
.bottom-section .bottom-wrapper .bottom-left span:nth-child(3) {
  color: gray;
}
.bottom-section .bottom-wrapper .bottom-left span:nth-child(4) {
  font-size: 0.6rem;
}
.bottom-section .bottom-wrapper .bottom-right img {
  margin: 0 0.5rem;
}

@media screen and (max-width: 992px) {
  /* 메뉴바를 제외한 모든 부분 */
  .contents-wrapper {
    max-width: unset;
  }

  .hidden-menu {
    background: black;
    color: white;
    display: flex;
    justify-content: space-between;
    padding: 0 20%;
    height: 3rem;
    align-items: center;
  }
  .hidden-wrapper ul {
    list-style: none;
    padding: 0 10%;
    background-color: black;
  }
  .hidden-wrapper ul li {
    display: flex;
    justify-content: space-between;
    background-color: white;
    padding: 1rem 12%;
    border: 0.1px solid gray;
    font-size: 0.8rem;
    font-weight: 600;
    color: gray;
  }
  .hidden-wrapper ul li span:first-child {
    width: 90%;
  }
  .hidden-wrapper ul li span:last-child {
    width: 10%;
    text-align: right;
  }
  .hidden-wrapper .hidden-blog-ul,
  .hidden-wrapper .hidden-pages-ul,
  .hidden-wrapper .hidden-home-ul {
    display: none;
    background-color: white;
    padding: 0;
  }
  .hidden-wrapper .hidden-blog-ul li,
  .hidden-wrapper .hidden-pages-ul li,
  .hidden-wrapper .hidden-home-ul li {
    padding: 1rem 20%;
    font-weight: 100;
  }
  .hidden-wrapper ul li:hover,
  .hidden-wrapper ul span:hover {
    color: orange;
    cursor: pointer;
  }
  /* 메뉴바 */
  .menu-section {
    position: unset;
  }
  .menu-section .menu-list {
    display: none;
  }
  .menu-section .etc {
    width: 45%;
    justify-content: flex-end;
    align-items: center;
    height: 100%;
  }
  .menu-section .etc > div {
    width: unset;
    border-right: none;
    padding-right: 1rem;
  }
  .menu-section .etc .search-wrapper {
    width: 13rem;
    height: 1.5rem;
    padding: 0.5rem 0.9rem;
    border: none;
    box-shadow: 0px 0px 0.4rem lightgray;
    margin-right: 1rem;
  }

  .menu-section .etc .search-wrapper .search-btn {
    background-color: white;
    cursor: pointer;
    width: 15%;
  }
  .menu-section .etc .search-wrapper span {
    display: none;
  }

  .menu-section .etc .cart-wrapper {
    position: relative;
    cursor: pointer;
    display: flex;
    align-items: center;
    height: 100%;
  }
  .menu-section .etc .cart-wrapper:hover ul {
    display: block;
  }
  .menu-section .etc .cart-wrapper ul {
    display: none;
    position: absolute;
    top: 80%;
    right: 0%;
    width: 17rem;
    background: white;
    box-shadow: 0px 0px 1rem lightgray;
    z-index: 1;
    list-style: none;
  }
  .menu-section .etc .cart-wrapper ul li {
    padding: 0.7rem 0;
    border-bottom: 1px solid lightgray;
  }
  .menu-section .etc .cart-wrapper ul li:last-child {
    border-bottom: none;
  }
  .menu-section .etc .cart-wrapper .cart-list-wrapper .cart-list {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
  }
  .menu-section .etc .cart-wrapper .cart-list-wrapper .cart-list .cart-img {
    width: 30%;
  }
  .menu-section .etc .cart-wrapper .cart-list-wrapper .cart-list .cart-img img {
    width: 100%;
  }
  .menu-section .etc .cart-wrapper .cart-list-wrapper .cart-info-wrapper {
    font-size: 0.8rem;
    text-align: left;
    color: #adadad;
  }
  .menu-section .etc .cart-wrapper .cart-list-wrapper .cart-info-wrapper span {
    color: black;
    font-weight: 900;
  }
  .menu-section .etc .cart-wrapper .cart-total {
    font-weight: 600;
  }
  .menu-section .etc .cart-wrapper .cart-total span {
    color: orange;
  }
  .menu-section .etc .search-wrapper input {
    display: inline-block;
  }
  /* 컨텐츠 부분 */
  .content-section {
    margin: 3rem auto 0;
    max-width: 700px;
  }

  /* 컨텐츠 소개말 */
  .intro-section .intro-middle {
    margin-top: 2rem;
  }

  .intro-section .intro-middle .intro-middle-wrapper {
    display: block;
  }
  .intro-section .intro-middle .intro-middle-wrapper .intro-middle-text {
    font-size: 0.9rem;
    margin-top: 2rem;
    padding: 0;
  }
  .intro-section .intro-middle .intro-middle-wrapper .intro-middle-pic img {
    width: 100%;
    box-sizing: border-box;
  }

  /* 멤버 부분 */
  .member-section .member-list-wrapper {
    margin-top: 1.5rem;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .member-section .member-list-wrapper .member-list {
    display: none;
  }
  .member-section .member-list-wrapper .member-list:nth-child(1),
  .member-section .member-list-wrapper .member-list:nth-child(2) {
    display: block;
    width: 48%;
    margin: 0;
  }
  .member-section .member-list-wrapper .member-list .member-photo {
    display: flex;
    padding: 1rem;
    height: 10rem;
    justify-content: center;
    align-items: center;
  }
  .member-section .member-list-wrapper .member-list .member-intro {
    font-size: 0.85rem;
    padding: 0 1rem;
  }

  /* 푸터섹션 */
  .footer-section {
    margin: 0;
  }
  .footer-section .footer .information-section .shipping-list-wrapper {
    display: none;
  }

  /* 바텀섹션 */
  .bottom-section .bottom-wrapper {
    width: 90%;
  }
}
@media screen and (max-width: 700px) {
  body {
    background-color: white;
  }
  .login-section {
    justify-content: center;
  }
  .login-section .login-section-id {
    display: none;
  }

  /* 메뉴바 */
  .menu-section .menu-list {
    display: none;
  }

  /* 탑센션 */
  .top-section {
    height: 9rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }
  .top-section .top-section-name {
    padding-top: 0;
    position: unset;
    transform: translateX(0);
    height: 4rem;
    align-items: flex-end;
    display: flex;
    font-size: 1.7rem;
  }
  .top-section .top-menu-wrapper {
    position: unset;
    width: auto;
    transform: translateX(0);
    font-size: 0.7rem;
    padding-top: 1rem;
  }

  /* 컨텐츠 섹션 */
  .menu-section {
    display: block;
    height: unset;
    padding: 1rem 0;
  }
  .menu-section .logo {
    text-align: center;
  }
  .menu-section .etc {
    width: 80%;
    margin-top: 1rem;
    margin-inline-start: auto;
  }
  .menu-section .etc .search-wrapper {
    width: 18rem;
  }
  .menu-section .etc .search-wrapper input {
    width: 70%;
  }
  .content-section {
    margin: 1rem auto 0;
    max-width: 400px;
  }
  .member-section .member-top,
  .intro-section .intro-top {
    font-size: 0.9rem;
  }
  .member-section .member-top h1,
  .intro-section .intro-top h1 {
    font-size: 1rem;
    margin-bottom: 0.5rem;
  }
  .member-section {
    margin: 3rem 0;
  }
  .member-section .member-list-wrapper .member-list:nth-child(2) {
    display: none;
  }
  .member-section .member-list-wrapper .member-list:nth-child(1) {
    display: block;
    width: 100%;
    margin: 0;
  }

  /* 푸터섹션 */
  .footer-section .footer {
    display: block;
  }
  .footer-section .footer .company-intro {
    width: 100%;
  }
  .footer-section .footer .company-intro .company-sns ul {
    width: 40%;
  }
  .footer-section .footer .information-section {
    display: block;
    width: 100%;
  }
  .footer-section .footer .information-section .shipping-list-wrapper {
    display: block;
  }
  .footer-section
    .footer
    .information-section
    .my-account-list-wrapper
    .my-account-list
    ul,
  .footer-section
    .footer
    .information-section
    .shipping-list-wrapper
    .shipping-list
    ul {
    margin-top: 0;
  }
  .footer-section .footer .information-section .my-account-list-wrapper {
    margin-top: 2rem;
  }

  /* 바텀섹션 */
  .bottom-section {
    height: 5rem;
  }
  .bottom-section .bottom-wrapper {
    display: block;
  }
  .bottom-section .bottom-wrapper .bottom-left {
    text-align: center;
  }
  .bottom-section .bottom-wrapper .bottom-right img {
    margin: 1rem 0.5rem 0;
  }
}
@media screen and (max-width: 480px) {
  .content-section {
    max-width: 250px;
  }
  .intro-section .intro-middle-wrapper .intro-middle-text {
    min-width: unset;
  }
}
